body
{
  background-color: #343235;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color:#ddd;
}

h1,h2,h3,h4,h5,h6{
  color:#56CCF2;
  font-weight: 700;
}

h1{font-size: 24px;}


h2{font-size: 17px;}

.hidden{display: none;}

#wrapper{
  padding: 30px;   
  max-width: 1000px;
}

#editor{
width:50%;
float:left;
}

#the-image{
width:48%;
float:left;
margin-left: 2%;
}

#img-container,#img-container img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
.box{
  background-color: #504e51;
  padding-left: 0px!important;
  padding-right: 0px!important;
  border:2px solid #504e51;
}
.box.btn.active-item{
  color: #56CCF2!important;
  border: 2px solid #56CCF2;
  /*outline: 5px auto -webkit-focus-ring-color!important;*/
  /*outline-offset: -2px!important;*/
}
.box.btn:hover{
  color: #56CCF2!important;
}
#custom-sizes input {
    background-color: transparent;
    border: 0px none;
    max-width: 50px;
    padding: 6px;
    margin-left: 5px;
    border-bottom: 1px solid #aaa;
    color:#ffffff;
} 

#custom-sizes input.active-item{
  color: #56CCF2!important;
  border: 2px solid #56CCF2;
  /*outline: 5px auto -webkit-focus-ring-color!important;*/
  /*outline-offset: -2px!important;*/
}

.box{
  float:left;
  text-align: center;
  position: relative;
  transition:all 0.2s ease;
  min-width: 100px;
  margin: 5px;
  border-radius: 2px;
}

.box:hover{
  cursor: pointer;
  background-color: #56CCF2;
  border-color: #56CCF2;
  transition:all 0.2s ease; 
}

.box:hover p{
color:#333;
}

.box p{
 margin:10px;
 font-size: 13px;
}

a.link{
  padding:10px;
}


.editor-section{
  clear:both;
  width: 100%;
  float: left;
}

.editor-section h2{
    float:left;
    padding-bottom: 0;
}

#prepareImage{
background-color: #56CCF2;
font-size: 20px;
border:none;
border-radius: 2px;
font-family: "Lato", sans-serif;
padding:20px 40px;
clear: both;
float: right;
margin-top: 15px;
}

#image-format label{
margin:5px;
}

#download{
  text-align: center;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px;
}

#info{
  font-size: 13px;
  padding-top: 15px;
}

#info p{margin:0;padding-bottom: 5px;}

button#prepareImage:hover {
cursor:pointer;
background-color: #10a0d1;
transition:all 0.1s ease;
}

button#prepareImage{
transition:all 0.2s ease;
width: 100%; 
}

#custom{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

#custom-sizes span.px{
  color:#777;
}

p.keep-ratio{
font-size: 13px;  
}

p.width, p.height{
  float:left;
  margin-top: 0;
}

p.height{margin-left: 20px;}

p.keep-ratio{clear: both;}

#preset, #crop, #resize{
  opacity: 0.4;
  padding: 10px 20px 30px 20px;
  float: left;
  border:1px solid #333333;
}

#preset{
  padding-bottom: 20px;
}

#preset.active-section, #crop.active-section, #resize.active-section{
opacity: 1;
border:1px solid #777777;
}

#standard > div.active-preset-category {
  display: inline-block;
}

#standard >div {
  display: none;
}

.footer{
  clear: both;
}

.footer a{color:#56CCF2;padding: 30px 0;float: left;text-decoration: none;font-size: 12px;}
.footer p{float:right;padding: 18px 0;text-decoration: none;font-size: 12px;}

ul.social{
  float:right;
  margin:8px 0 0 0;
  padding: 0;
}

ul.social li{float:right;list-style:none;padding:5px;font-size: 20px;color:#777;}

ul.social li.active-preset-category{color:#56CCF2;}

.clr{clear: both;}

.box p span{
  font-size: 11px;
}

.sub-section input[type="radio"]{
  float: left !important;
  top:6px;
  position: relative;
  padding-right: 10px;
}

input[type="text"]{
  border:none;
  padding: 8px;
  border-radius: 2px; 
  max-width: 40px;
  margin-left: 5px;
}

.sub-section{
   line-height: 30px;
   padding-bottom: 15px;
   padding-left: 20px;
}

.sub-section p{
  position: relative;
  left: 10px;
  padding:0;
  margin: 0;
}

.sub-section label{
  padding-left:10px;
}

input[type="range"]{
  left:10px;
  position: relative;
  margin-right: 15px;
}

p.height{padding-left: 30px;}

#datePercentValue{
  position: relative;
  left:40px;
}

/*range*/

input[type=range] {
  -webkit-appearance: none;
  width: 270px;
  margin: 7.7px 0;
  background:transparent;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #999999;
  border-radius: 10px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a6a6a6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #999999;
  border-radius: 10px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #8c8c8c;
  border: 0px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #999999;
  border: 0px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  height: 9.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #999999;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a6a6a6;
}
